<html>
    <head>
        <title>接口</title>
    </head>
    <body>
        <form action="/service/create" method="post">
              名称：<input type="text" name="name"><br>
            类型:<select name="serviceType">
                <option value="1">hessian</option>
                <option value="2">http</option>
            </select>
              url:<input type="text" name="serviceUrl"><br>
             参数:<input type="text" name="parameter"><br>
            <input type="submit" value="提交">
        </form>
    </body>

</html>