{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>

var
    action = '{{action}}',
    redirect = '{{ redirect }}';

function initVue(group) {
    var vm = new Vue({
        el: '#form-blog',
        data: group,
        methods: {
            submit: function (event) {
                event.preventDefault();
                startLoading();
                postApi(action, this.$data, function (err, r) {
                    if (err) {
                        showError(err);
                    }
                    else {
                        return location.assign(redirect);
                    }
                    stopLoading();
                });
            },
            cancel: function() {
                location.assign(redirect);
            }
        }
    });
}

// {% if id %}

$(function () {
    startLoading();
    getApi('/api/group/{{ id }}', function (err, group) {
        if (err) {
            showError(err);
        }
        else {
            stopLoading();
            initVue(group);
        }
    });
});

// {% else %}

$(function () {
    initVue({
        name: '',
        serviceType: 2,
        parameter:'',
    });
});

// {% endif %}

</script>

{% endblock %}

{% block content %}


    <div class="uk-width-2-3">
        <form id="form-blog" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">接口:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"> 类型</label>
                <div class="uk-form-controls">
                    <select v-model="serviceType" name="serviceType">
                         <option value="1">hessian</option>
                        <option value="2">http</option>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">参数:</label>
                <div class="uk-form-controls">
                    <input v-model="parameter" name="parameter" type="text"  class="uk-width-1-1">
                </div>
            </div>
             <div class="uk-form-row">
                <label class="uk-form-label">分组</label>
                <div class="uk-form-controls">
                    <select v-model="serviceType" name="serviceType">
                         <option value="1">hessian</option>
                        <option value="2">http</option>
                    </select>
                </div>
            </div>
             <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <button v-on="click: cancel()" type="button" class="uk-button"><i class="uk-icon-times"></i> 取消</button>
            </div>
        </form>
    </div>

{% endblock %}


</html>